<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="tech.gruppone.stalker.app">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <!-- XXX android:usesCleartextTraffic is not supposed to be there in production!! -->

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".utility.App"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
    <activity android:name=".utility.StalkerActivity"/>
    <activity android:name=".view.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".view.SignUpActivity"/>
    <activity
      android:name=".view.MainPageActivity"
      android:parentActivityName=".view.LoginActivity">
      <!-- <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter> -->
    </activity>
    <activity android:name=".view.Display">
      <!--<intent-filter>
        <action android:name="tech.gruppone.stalker.DISPLAY"/>
      </intent-filter>-->
    </activity>
    <activity android:name=".view.MainActivity"/>

    <service
      android:name=".utility.location.LocationNotifier"
      android:permission="android.permission.BIND_JOB_SERVICE"/>
  </application>
</manifest>
